body, h1, nav, ul, li, a, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header-container {
    background-color: #3053E8; /* A vibrant blue background */
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 2em; /* Slightly larger font for the logo text */
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button {
    background-color: #0056b3; /* Slightly darker blue background for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #004494; /* Even darker blue for hover effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        padding-top: 20px;
        flex-direction: column;
    }
    nav ul li {
        padding: 5px 0;
    }
}

/* Dropdown Menu CSS */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #3053E8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #2036B4;
}
